.priorityBtnContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 0;
    border: 0.5px solid #c9d4ea;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 308px;
    background-color: #fff;
    li {
      padding: 0px 10px;
      &:hover {
        background-color: #f0f0f0;
        border-left: 2px solid #3563e9;
      }
    }
  }
  .priorityBtn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    gap: 8px;
    background-color: transparent;
    color: rgb(9, 30, 66);
    &:hover {
      background-color: #ebecf0;
    }
    img {
      width: 16px;
      height: 16px;
    }
    span {
      font-weight: 400;
      font-size: 16px;
    }
  }
}
