@import '../../../../variables.scss';
$closeBtnColor: rgb(202, 207, 227);
$closeBtnColorHover: rgb(178, 182, 200);
$colorGray: rgb(102, 106, 133);
$colorBlue: rgb(50, 115, 246);
$darkGray: rgb(240, 240, 240);
$lightGray: rgb(250, 251, 252);
$colorRed: rgb(234, 51, 35);
$colorGreen: rgb(122, 184, 79);

.moveIncompleteTicketsModal {
  min-width: 40%;
  height: 40%;
}

.btnContainer {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;  
  .btn {
    height: 100%;
    border-radius: 5px;
    width: 30%;
    cursor: pointer;
    border: none;
    color: white;
    background-color: $primaryColor;
  }
}