.backlogUserIconWithBorder {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  margin: 2px;
  box-shadow: 0 0 0 2px #6a2add;
  cursor: pointer;
}

.backlogUserIconWithBorder:hover {
  cursor: pointer;
}

.backlogUserIcon {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  margin: 2px;
  cursor: pointer;
}

.backlogUserIcon:hover {
  cursor: pointer;
}
